%li{class: "chat-side__groups-and-latest-messages__one-section"}
  = link_to group_messages_path(group) do
    %p{class: "chat-side__groups-and-latest-messages__one-section__group-name"}#{group.name}
    %p{class: "chat-side__groups-and-latest-messages__one-section__latest-message"}# 最新のメッセージを表示
