- unless user.name === current_user.name then
  .chat-group-user.clearfix
    = hidden_field :group, :user_ids
    %p.chat-group-user__name
      = user.name
    = link_to '削除', class: "chat-group-user__btn chat-group-user__btn--remove", data-user-id: user.id, data-user-name: user.name
