  .alert-alert-notice {
    width: 100%;
    height: 28px;
    color: white;
    text-align: center;
    background-color: $message_background_color;
  }

  .alert-alert-erroe {
    width: 100%;
    height: 28px;
    color: white;
    text-align: center;
    background-color: $message_background_color;
  }
